<!DOCTYPE html>
<html lang="fr">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, minimal-ui, viewport-fit=cover">
		<meta name="keywords" content="digital learning, blended learning, language teaching tools, quiz, h5p, interactive content">
		<meta name="description" content="Digiquiz est une application en ligne proposée par La Digitale qui permet de lire des contenus interactifs créés avec Logiquiz ou H5P.">
		<meta name="robots" content="index, no-follow" />
		<meta name="theme-color" content="#00ced1">
		<meta property="og:title" content="Digiquiz by La Digitale">
		<meta property="og:description" content="Digiquiz est une application en ligne proposée par La Digitale qui permet de lire des contenus interactifs créés avec Logiquiz ou H5P.">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ladigitale.dev/digiquiz/" />
		<meta property="og:image" content="https://ladigitale.dev/digiquiz/img/digiquiz.png" />
		<meta property="og:locale" content="fr_FR" />
        <title>Digiquiz by La Digitale</title>
		<link rel="icon" type="image/png" href="<%= dossier %>static/img/favicon.png">
    </head>
  	<body>
    	<noscript>
      		<strong>Veuillez activer Javascript dans votre navigateur pour utiliser <i>Digiquiz</i>.</strong>
    	</noscript>
		<div id="app"></div>
		<script type="module" src="/src/main.js"></script>
		<script src="<%= dossier %>static/js/main.bundle.js?v=1733569288926"></script>
		<script src="<%= dossier %>static/js/qrcode.js"></script>
  	</body>
</html>
