<template>
	<div id="page">
		<div id="accueil" :style="{'background-image': 'url(./static/img/fond.png)'}">
			<div id="conteneur">
				<div id="contenu">
					<h1>
						<span>Digiquiz</span> <span>by La Digitale</span>
					</h1>
					<div>
						<p><strong>Digiquiz</strong> permet de lire des <strong>contenus interactifs H5P</strong> créés avec <a href="https://ladigitale.dev/logiquiz/" target="_blank" rel="noreferrer">Logiquiz</a>.</p>
						<span id="bouton" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && !hub ? 0 : -1" @click="ouvrirModaleFichier" @keydown.enter="ouvrirModaleFichier">Publier un fichier H5P</span>
					</div>
				</div>
				<div id="credits">
					<p><a href="https://opencollective.com/ladigitale" target="_blank" rel="noreferrer">Je souhaite apporter mon soutien ❤️.</a></p>
					<p>{{ new Date().getFullYear() }} - <a href="https://ladigitale.dev" target="_blank" rel="noreferrer">La Digitale</a> - <a href="https://codeberg.org/ladigitale/digiquiz" target="_blank" rel="noreferrer">Code source</a> - <a href="https://codeberg.org/ladigitale/digiquiz/releases" target="_blank" rel="noreferrer">v{{ version }}</a> - <span class="hub" role="button" :tabindex="modale === '' && $parent.$parent.message === '' && !hub ? 0 : -1" @click="ouvrirHub" @keydown.enter="ouvrirHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#001d1d" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg></span></p>
				</div>
			</div>
		</div>
		<div class="conteneur-modale" v-if="modale === 'fichier'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">Publier un fichier H5P</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">Question secrète</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option value="motPrefere">Quel est mon mot préféré ?</option>
							<option value="filmPrefere">Quel est mon film préféré ?</option>
							<option value="chansonPreferee">Quelle est ma chanson préférée ?</option>
							<option value="prenomMere">Quel est le prénom de ma mère ?</option>
							<option value="prenomPere">Quel est le prénom de mon père ?</option>
							<option value="nomRue">Quel est le nom de ma rue ?</option>
							<option value="nomEmployeur">Quel est le nom de mon employeur ?</option>
							<option value="nomAnimal">Quel est le nom de mon animal de compagnie ?</option>
						</select>
						<label for="reponse-secrete">Réponse secrète (pour suppression du contenu)</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="televerser" class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('televerser')">Sélectionner un fichier H5P</label>
						<input id="televerser" type="file" accept=".h5p" @change="televerser" style="display: none;" >
					</div>
				</div>
			</div>
		</div>
		<div id="hub" :class="{'ouvert': hub}" :tabindex="hub ? 0 : -1">
			<span role="button" :tabindex="hub ? 0 : -1" @click="fermerHub" @keydown.enter="fermerHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="36px" height="36px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></span>
			<iframe src="https://ladigitale.dev/hub.html" title="Le Hub by La Digitale"></iframe>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Accueil',
	data () {
		return {
			modale: '',
			question: '',
			reponse: '',
			elementPrecedent: null,
			hub: false,
			version: app_version
		}
	},
	mounted () {
		setTimeout(function () {
			this.$parent.$parent.chargement = false
		}.bind(this), 300)
		document.addEventListener('keydown', this.gererClavier, false)
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		ouvrirModaleFichier () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'fichier'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModale () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		televerser (event) {
			const fichier = event.target.files[0]
			const extension = fichier.name.substring(fichier.name.lastIndexOf('.') + 1).toLowerCase()
			if (fichier !== '' && extension === 'h5p' && fichier.size < 20480000 && this.question !== '' && this.reponse !== '') {
				this.modale = ''
				this.$parent.$parent.chargement = true
				const formData = new FormData()
				formData.append('fichier', fichier)
				formData.append('question', this.question)
				formData.append('reponse', this.reponse)
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						if (xhr.responseText === 'contenu_existe_deja') {
							this.$parent.$parent.chargement = false
							event.target.value = ''
							this.$parent.$parent.message = 'Ce contenu existe déjà. Veuillez essayer à nouveau.'
						} else if (xhr.responseText === 'erreur_televersement') {
							this.$parent.$parent.chargement = false
							event.target.value = ''
							this.$parent.$parent.message = 'Erreur lors du téléversement du fichier.'
						} else if (xhr.responseText === 'erreur_extraction') {
							this.$parent.$parent.chargement = false
							event.target.value = ''
							this.$parent.$parent.message ='Erreur lors du traitement du fichier.'
						} else {
							window.location.href = this.$parent.$parent.dossier + 'q/' + xhr.responseText
						}
					} else {
						this.$parent.$parent.chargement = false
						event.target.value = ''
						this.$parent.$parent.message = 'Erreur lors de la publication du fichier.'
					}
				}.bind(this)
				xhr.upload.onprogress = function (e) {
					if (e.lengthComputable) {
						const pourcentage = (e.loaded / e.total) * 100
						this.$parent.$parent.progression = Math.round(pourcentage)
					} else {
						this.$parent.$parent.progression = 0
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/creer.php', true)
				xhr.send(formData)
			} else if (extension !== 'h5p') {
				event.target.value = ''
				this.$parent.$parent.message = 'Seuls les fichiers .h5p sont acceptés.'
			} else if (fichier.size > 20480000) {
				event.target.value = ''
				this.$parent.$parent.message = 'La limite de taille pour les téléversements est de 20 Mo.'
			} else if (this.reponse === '' || this.question === '') {
				event.target.value = ''
				this.$parent.$parent.message =  'Veuillez complétez les champs du formulaire.'
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale === 'fichier') {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.hub) {
				this.hub = false
				this.gererFocus()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		ouvrirHub () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.hub = true
			this.$nextTick(function () {
				document.querySelector('#hub span').focus()
			})
		},
		fermerHub () {
			this.hub = false
			this.gererFocus()
		}
	}
}
</script>

<style scoped>
#page,
#accueil {
	width: 100%;
	height: 100vh;
}

#accueil {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#conteneur {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

#contenu {
	max-width: 76em;
	text-align: center;
	padding: 12em 1em 6em;
	margin: auto;
}

#conteneur h1 {
    font-family: 'HKGrotesk-Black', sans-serif;
    font-size: 3em;
	font-weight: 400;
    margin-bottom: 0.85em;
    line-height: 1.4;
}

#conteneur p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1.5em;
}

#contenu p a {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

#credits {
	width: 100%;
	margin: 0 auto 0.75em;
}

#credits p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
	text-align: center;
}

#credits p:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

#credits p:last-child a {
	margin: 0 5px;
}

#credits .hub {
	font-size: 0;
	cursor: pointer;
}

#hub {
	position: fixed;
	visibility: hidden;
	opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: -1;
}

#hub.ouvert {
	visibility: visible;
	opacity: 1;
    animation: fonduEntrant linear 0.1s;
	z-index: 100000;
}

@keyframes fonduEntrant {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hub iframe {
	width: 100%;
    height: 100%;
}

#hub span {
	font-size: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

@media screen and (max-width: 359px) {
	#contenu {
		padding: 4em 1em 2em;
	}

	#bouton {
		font-size: 0.75em!important;
	}
}

@media screen and (min-width: 360px) and (max-width: 599px) {
	#contenu {
		padding: 5em 1em 2.5em;
	}
}

@media screen and (max-width: 399px) {
	#conteneur h1 span {
		display: block;
	}
}

@media screen and (max-width: 599px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em;
	}
	
	#credits p {
		font-size: 0.85em;
	}

	#hub span {
		top: 5px;
		right: 5px;
	}
	
	#hub span svg {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 599px) and (orientation: landscape) {
	#contenu {
		padding: 2em 1em 1.5em!important;
	}
}

@media screen and (min-width: 600px) and (max-width: 820px) and (orientation: landscape) {
	#contenu {
		padding: 3em 1em 1.5em!important;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#conteneur p {
		font-size: 1em!important;
	}
	
	#credits p {
		font-size: 0.85em!important;
		margin-bottom: 0.85em!important;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#contenu {
		padding: 7em 1em 3.5em;
	}
}

@media screen and (max-width: 850px) and (max-height: 500px) {
	#conteneur h1 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	#conteneur p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}
	
	#bouton {
		font-size: 0.85em!important;
	}
	
	#credits p {
		font-size: 0.85em;
	}
}
</style>
