<template>
	<div id="page">
		<header>
			<div id="conteneur-header">
				<a id="conteneur-logo" :href="$parent.$parent.hote" title="Accueil">
					<span id="logo"></span>
				</a>
				<span id="titre">{{ titre }}</span>
				<span id="conteneur-partage" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" title="Partager" @click="afficherMenuPartager" @keydown.enter="afficherMenuPartager"><i class="material-icons">share</i></span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" title="Paramètres" @click="ouvrirModaleParametres" @keydown.enter="ouvrirModaleParametres" v-if="admin"><i class="material-icons">settings</i></span>
				<span id="conteneur-parametres" role="button" :tabindex="modale === '' && menu === '' && $parent.$parent.message === '' ? 0 : -1" title="Se connecter" @click="ouvrirModaleConnexion" @keydown.enter="ouvrirModaleConnexion" v-else><i class="material-icons">lock_open</i></span>
			</div>
		</header>

		<div id="h5p" />

		<div id="menu-partager" v-if="menu === 'partager'" :style="{'left': position + 'px'}">
			<div id="conteneur-partager">
				<label>Lien et code QR&nbsp;:</label>
				<div id="copier-lien" class="copier">
					<input type="text" disabled :value="$parent.$parent.hote + 'q/' + id">
					<span class="icone lien" role="button" :tabindex="menu === '' ? -1 : 0" title="Copier le lien" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
					<span class="icone codeqr" role="button" :tabindex="menu === '' ? -1 : 0" title="Afficher le code QR" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
				</div>
				<label>Code d'intégration&nbsp;:</label>
				<div id="copier-iframe" class="copier">
					<input type="text" disabled :value="'<iframe src=&quot;' + $parent.$parent.hote + 'q/' + id + '&quot; allow=&quot;fullscreen; autoplay;&quot; frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot;></iframe>'">
					<span class="icone" role="button" :tabindex="menu === '' ? -1 : 0" title="Copier le code d'intégration" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'connexion'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">Connexion</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleConnexion" @keydown.enter="fermerModaleConnexion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">Question secrète</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option value="motPrefere">Quel est mon mot préféré ?</option>
							<option value="filmPrefere">Quel est mon film préféré ?</option>
							<option value="chansonPreferee">Quelle est ma chanson préférée ?</option>
							<option value="prenomMere">Quel est le prénom de ma mère ?</option>
							<option value="prenomPere">Quel est le prénom de mon père ?</option>
							<option value="nomRue">Quel est le nom de ma rue ?</option>
							<option value="nomEmployeur">Quel est le nom de mon employeur ?</option>
							<option value="nomAnimal">Quel est le nom de mon animal de compagnie ?</option>
						</select>
						<label for="reponse-secrete">Réponse secrète</label>
						<input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquer">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="debloquer" @keydown.enter="debloquer">Valider</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'parametres' || modale === 'modifier-titre' || modale === 'modifier-acces' || modale === 'importer' || modale === 'suppression'">
			<div id="modale-parametres" class="modale" role="dialog" v-if="modale === 'parametres'">
				<header>
					<span class="titre">Paramètres</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleParametres" @keydown.enter="fermerModaleParametres"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<span class="vues"><b>Nombre de vues :</b> {{ vues }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleTitre" @keydown.enter="ouvrirModaleTitre" v-if="!digidrive">Modifier le titre du contenu</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAcces" @keydown.enter="ouvrirModaleAcces" v-if="!digidrive">Modifier l'accès au contenu</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleImporter" @keydown.enter="ouvrirModaleImporter">Remplacer le contenu actuel</span>
						<span class="bouton large rouge" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimer" @keydown.enter="afficherSupprimer" v-if="!digidrive">Supprimer le contenu</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">Terminer la session admin</span>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-titre'">
				<header>
					<span class="titre">Modifier le titre du contenu</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleTitre" @keydown.enter="fermerModaleTitre"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nouveau-titre">Nouveau titre</label>
						<input id="nouveau-titre" type="text" :value="nouveautitre" @input="nouveautitre = $event.target.value" @keydown.enter="modifierTitre">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierTitre" @keydown.enter="modifierTitre">Modifier</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-acces'">
				<header>
					<span class="titre">Modifier l'accès au contenu</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleParametres" @keydown.enter="fermerModaleParametres"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">Question secrète actuelle</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option value="motPrefere">Quel est mon mot préféré ?</option>
							<option value="filmPrefere">Quel est mon film préféré ?</option>
							<option value="chansonPreferee">Quelle est ma chanson préférée ?</option>
							<option value="prenomMere">Quel est le prénom de ma mère ?</option>
							<option value="prenomPere">Quel est le prénom de mon père ?</option>
							<option value="nomRue">Quel est le nom de ma rue ?</option>
							<option value="nomEmployeur">Quel est le nom de mon employeur ?</option>
							<option value="nomAnimal">Quel est le nom de mon animal de compagnie ?</option>
						</select>
						<label for="reponse-secrete">Réponse secrète actuelle</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="nouvelle-question-secrete">Nouvelle question secrète</label>
						<select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
							<option value="" selected>-</option>
							<option value="motPrefere">Quel est mon mot préféré ?</option>
							<option value="filmPrefere">Quel est mon film préféré ?</option>
							<option value="chansonPreferee">Quelle est ma chanson préférée ?</option>
							<option value="prenomMere">Quel est le prénom de ma mère ?</option>
							<option value="prenomPere">Quel est le prénom de mon père ?</option>
							<option value="nomRue">Quel est le nom de ma rue ?</option>
							<option value="nomEmployeur">Quel est le nom de mon employeur ?</option>
							<option value="nomAnimal">Quel est le nom de mon animal de compagnie ?</option>
						</select>
						<label for="nouvelle-reponse-secrete">Nouvelle réponse secrète</label>
						<input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAcces">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierAcces" @keydown.enter="modifierAcces">Modifier</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'importer'">
				<header>
					<span class="titre">Remplacer le contenu actuel</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<p>Attention, le contenu actuel sera remplacé par le contenu importé.</p>
						<input type="file" id="importer" name="importer" style="display: none;" accept=".h5p" @change="importer">
						<label for="importer" class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @keydown.enter="afficherSelectionImporter">Sélectionner un fichier H5P</label>
					</div>
				</div>
			</div>

			<div class="modale confirmation" role="dialog" v-else-if="modale === 'suppression'">
				<div class="conteneur">
					<div class="contenu">
						<p>Souhaitez-vous vraiment supprimer ce contenu&nbsp;?</p>
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">Non</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimer" @keydown.enter="supprimer">Oui</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'resultats'">
			<div id="modale-resultats" class="modale" role="dialog">
				<header>
					<span class="titre">Envoyer les résultats</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleResultats" @keydown.enter="fermerModaleResultats"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nom">Nom ou pseudo</label>
						<input id="nom" type="text" :value="nom" @input="nom = $event.target.value" @keydown.enter="envoyer">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="envoyer" @keydown.enter="envoyer">Envoyer</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">Code QR</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ClipboardJS from 'clipboard'

export default {
	name: 'Quiz',
	data () {
		return {
			modale: '',
			menu: '',
			id: '',
			admin: false,
			titre: '',
			typeH5P: '',
			resultatsActives: false,
			lienResultats: '',
			question: '',
			reponse: '',
			nouvellequestion: '',
			nouvellereponse: '',
			nouveautitre: '',
			nom: '',
			resultats: [],
			vues: 0,
			codeqr: '',
			position: 0,
			digidrive: false
		}
	},
	watch: {
		modale: function (valeur) {
			if (valeur !== '') {
				this.menu = ''
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const question = this.$route.query.q
		const reponse = this.$route.query.r
		if (question && question !== '' && reponse && reponse !== '') {
			const xhreq = new XMLHttpRequest()
			xhreq.onload = function () {
				if (xhreq.readyState === xhreq.DONE && xhreq.status === 200 && xhreq.responseText === 'contenu_debloque') {
					this.admin = true
					this.digidrive = true
				}
				window.history.replaceState({}, document.title, window.location.href.split('?')[0])
			}.bind(this)
			xhreq.open('POST', this.$parent.$parent.hote + 'inc/ouvrir.php', true)
			xhreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhreq.send('id=' + this.id + '&question=' + window.atob(question) + '&reponse=' + window.atob(reponse) + '&type=api')
		}
		const xhr = new XMLHttpRequest()
		xhr.onload = async function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				}
				const reponse = JSON.parse(xhr.responseText)
				if (!reponse.titre || reponse.titre === '') {
					this.$router.push('/')
					return false
				}
				if (reponse.donnees && this.verifierJSON(reponse.donnees) === true) {
					const donnees = JSON.parse(reponse.donnees)
					this.typeH5P = donnees.typeH5P
					if (donnees.hasOwnProperty('resultatsActives') === true) {
						this.resultatsActives = JSON.parse(donnees.resultatsActives)
					}
					if (import.meta.env.VITE_LIEN_RESULTATS) {
						this.lienResultats = import.meta.env.VITE_LIEN_RESULTATS
					}
				} else {
					this.$router.push('/')
					return false
				}
				this.titre = reponse.titre
				this.admin = reponse.admin
				this.digidrive = Boolean(reponse.digidrive)
				this.vues = reponse.vues
				const el = document.querySelector('#h5p')
				const contenusH5P = ['H5P.ArithmeticQuiz', 'H5P.Column', 'H5P.MultiChoice', 'H5P.TrueFalse', 'H5P.DragQuestion', 'H5P.Crossword', 'H5P.Dictation', 'H5P.DragText', 'H5P.Essay', 'H5P.Blanks', 'H5P.FindTheWords', 'H5P.ImageHotspotQuestion', 'H5P.ImageMultipleHotspotQuestion', 'H5P.Flashcards', 'H5P.MultiMediaChoice', 'H5P.ImagePair', 'H5P.ImageSequencing', 'H5P.MarkTheWords', 'H5P.MemoryGame', 'H5P.QuestionSet', 'H5P.SingleChoiceSet', 'H5P.SortParagraphs', 'H5P.SpeakTheWords', 'H5P.SpeakTheWordsSet', 'H5P.Summary', 'H5P.AdvancedBlanks', 'H5P.InteractiveVideo', 'H5P.CoursePresentation', 'H5P.InteractiveBook']
				let customJs = []
				if (this.resultatsActives) {
					customJs = ['../static/js/custom.js']
				}
				const options = {
					h5pJsonPath: '../fichiers/' + this.id + '/h5p',
					frameJs: '../static/js/frame.bundle.js?v1733569288926',
					frameCss: '../static/css/h5p.css',
					librariesPath: '../libraries',
					frame: false,
					copyright: true,
					embed: false,
					download: false,
					icon: false,
					export: false,
					fullScreen: true,
					reportingIsEnabled: this.resultatsActives,
					customCss: [],
					customJs: customJs
				}
				await new H5PStandalone.H5P(el, options)
				setTimeout(function () {
					this.$parent.$parent.chargement = false
					document.title = this.titre + ' - Digiquiz by La Digitale'
				}.bind(this), 300)
				if (this.resultatsActives) {
					// eslint-disable-next-line
					H5P.externalDispatcher.on('xAPI', function (event) {
						if (contenusH5P.includes(this.typeH5P) === true && event.data.statement.hasOwnProperty('object') === true && event.data.statement.hasOwnProperty('result') === true) {
							// const contentId = event.data.statement.object.definition.extensions['http://h5p.org/x-api/h5p-local-content-id']
							let subContentId = ''
							if (event.data.statement.object.definition.extensions.hasOwnProperty('http://h5p.org/x-api/h5p-subContentId') === true) {
								subContentId = event.data.statement.object.definition.extensions['http://h5p.org/x-api/h5p-subContentId']
							}
							const donneesResultats = this.definirResultats(event.data.statement.object.definition, event.data.statement.result)
							if (subContentId === '' || (subContentId !== '' && donneesResultats.response !== '')) {
								this.resultats.push(donneesResultats)
							}
							if ((subContentId === '' && this.typeH5P !== 'H5P.ImageMultipleHotspotQuestion') || (subContentId === '' && this.typeH5P === 'H5P.ImageMultipleHotspotQuestion' && this.resultats.length === donneesResultats.score.max)) {
								this.modale = 'resultats'
								setTimeout(function () {
									document.querySelector('#modale-resultats input').focus()
								}, 10)
							}
						}
					}.bind(this))
				}
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)
	},
	mounted () {
		const lien = this.$parent.$parent.hote + 'q/' + this.id
		const clipboard = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboard.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = 'Lien copié dans le presse-papier.'
		}.bind(this))
		const iframe = '<iframe src="' + lien + '" allow="fullscreen; autoplay;" frameborder="0" width="100%" height="500"></iframe>'
		const clipboardIframe = new ClipboardJS('#copier-iframe span', {
			text: function () {
				return iframe
			}
		})
		clipboardIframe.on('success', function () {
			document.querySelector('#copier-iframe span').focus()
			this.$parent.$parent.notification = 'Code d\'intégration copié dans le presse-papier.'
		}.bind(this))

		document.addEventListener('click', function (event) {
			const partager = document.querySelector('#conteneur-partage')
			const menuPartager = document.querySelector('#menu-partager')
			if (partager && menuPartager && event.target !== partager && event.target !== menuPartager && !partager.contains(event.target) && !menuPartager.contains(event.target)) {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this), false)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.menu === 'partager') {
				this.menu = ''
				this.gererFocus()
			}
		}.bind(this), false)

		if (window !== window.parent) {
			document.querySelector('header').style.display = 'none'
			document.querySelector('#h5p').style.margin = '0 auto'
			document.querySelector('#h5p').style.height = '100%'
		}
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		afficherMenuPartager () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.menu = 'partager'
			this.$nextTick(function () {
				const rect = document.querySelector('#conteneur-partage').getBoundingClientRect()
				const largeurBouton = rect.width
				const largeurMenu = document.querySelector('#menu-partager').getBoundingClientRect().width
				this.position = rect.left - ((largeurMenu * 90) / 100 - largeurBouton / 2)
				document.querySelector('#menu-partager span').focus()
			}.bind(this))
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		copierIframe () {
			document.querySelector('#copier-iframe span').click()
		},
		afficherCodeQR () {
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.$parent.$parent.hote + 'q/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('.modale .fermer').focus()
			}.bind(this))
		},
		definirResultats (objet, resultat) {
			let name = ''
			if (objet.hasOwnProperty('name') === true) {
				name = objet.name['en-US']
			} else if (objet.hasOwnProperty('description') === true) {
				name = objet.description['en-US']
			}
			let interactionType = ''
			if (objet.hasOwnProperty('interactionType') === true) {
				interactionType = objet.interactionType
			}
			const choices = []
			if (objet.hasOwnProperty('choices') === true) {
				objet.choices.forEach(function (choice) {
					choices.push({ id: choice.id, description: choice.description['en-US'].replace('\n', '') })
				})
			}
			let correctResponsesPattern = ''
			let caseMatters = ''
			if (objet.hasOwnProperty('correctResponsesPattern') === true) {
				if (objet.correctResponsesPattern[0].includes('{case_matters=false}')) {
					caseMatters = false
				} else if (objet.correctResponsesPattern[0].includes('{case_matters=true}')) {
					caseMatters = true
				}
				correctResponsesPattern = objet.correctResponsesPattern[0].replace('{case_matters=false}', '').replace('{case_matters=true}', '')
			}
			const source = []
			if (objet.hasOwnProperty('source') === true) {
				objet.source.forEach(function (item) {
					source.push({ id: item.id, description: item.description['en-US'].replace('\n', '') })
				})
			}
			let response = ''
			if (resultat.hasOwnProperty('response') === true) {
				response = resultat.response
			}
			let score = ''
			if (resultat.hasOwnProperty('score') === true) {
				score = resultat.score
			}
			let duration = ''
			if (resultat.hasOwnProperty('duration') === true) {
				duration = resultat.duration
			}
			return { name: name, interactionType: interactionType, choices: choices, correctResponsesPattern: correctResponsesPattern, caseMatters: caseMatters, source: source, response: response, score: score, duration: duration }
		}, 
		envoyer () {
			if (this.nom !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					setTimeout(function () {
						this.$parent.$parent.chargement = false
					}.bind(this), 100)
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						if (xhr.responseText === 'erreur') {
							setTimeout(function () {
								this.$parent.$parent.message = 'Erreur lors de la transmission des résultats.'
							}.bind(this), 200)
						} else {
							this.fermerModaleResultats()
							setTimeout(function () {
								this.$parent.$parent.message = 'Résultats transmis avec succès.'
							}.bind(this), 200)
						}
					} else {
						setTimeout(function () {
							this.$parent.$parent.message = 'Erreur lors de la transmission des résultats.'
						}.bind(this), 200)
					}
				}.bind(this)
				xhr.open('POST', this.lienResultats)
				xhr.setRequestHeader('Content-type', 'application/json')
				xhr.send(JSON.stringify({ h5p: this.id, nom: this.nom, resultats: this.resultats }))
			} else {
				this.$parent.$parent.message = 'Veuillez indiquer un nom ou un pseudo pour l\'envoi des résultats.'
			}
		},
		fermerModaleResultats () {
			this.modale = ''
			this.nom = ''
			this.gererFocus()
		},
		ouvrirModaleParametres () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'parametres'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModaleParametres () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		ouvrirModaleTitre () {
			this.nouveautitre = this.titre
			this.modale = 'modifier-titre'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		fermerModaleTitre () {
			this.modale = ''
			this.nouveautitre = ''
			this.gererFocus()
		},
		modifierTitre () {
			if (this.nouveautitre !== '' && this.titre !== this.nouveautitre) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
							this.fermerModaleTitre()
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = 'Vous n\'êtes pas autorisé à effectuer cette action.'
							this.fermerModaleTitre()
						} else if (xhr.responseText === 'titre_modifie') {
							this.titre = this.nouveautitre
							this.$parent.$parent.notification = 'Titre modifié.'
							document.title = this.nouveautitre + ' - Digiquiz by La Digitale'
							this.fermerModaleTitre()
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleTitre()
						this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_titre.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('id=' + this.id + '&nouveautitre=' + this.nouveautitre)
			} else if (this.nouveautitre === '') {
				this.$parent.$parent.message = 'Veuillez remplir le champ «&nbsp;Nouveau titre&nbsp;».'
			}
		},
		ouvrirModaleAcces () {
			this.modale = 'modifier-acces'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		modifierAcces () {
			if (this.question !== '' && this.reponse !== '' && this.nouvellequestion !== '' && this.nouvellereponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleParametres()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiquiz by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = 'La question et la réponse secrètes ne sont pas correctes.'
						} else if (xhr.responseText === 'acces_modifie') {
							this.$parent.$parent.notification = 'Accès modifié.'
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleParametres()
						this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_acces.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('id=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&nouvellequestion=' + this.nouvellequestion + '&nouvellereponse=' + this.nouvellereponse)
			} else if (this.question === '') {
				this.$parent.$parent.message = 'Veuillez sélectionner votre question secrète actuelle.'
			} else if (this.reponse === '') {
				this.$parent.$parent.message = 'Veuillez indiquer votre réponse secrète actuelle.'
			} else if (this.nouvellequestion === '') {
				this.$parent.$parent.message = 'Veuillez sélectionner une nouvelle question secrète.'
			} else if (this.nouvellereponse === '') {
				this.$parent.$parent.message = 'Veuillez indiquer une nouvelle réponse secrète.'
			}
		},
		ouvrirModaleConnexion () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'connexion'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleConnexion () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		debloquer () {
			if (this.question !== '' && this.reponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digiquiz by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = 'Les informations indiquées ne sont pas correctes.'
						} else if (xhr.responseText === 'contenu_debloque') {
							this.admin = true
							this.$parent.$parent.notification = 'Connexion réussie.'
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/ouvrir.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('id=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&type=utilisateur')
			} else if (this.question === '') {
				this.$parent.$parent.message = 'Veuillez sélectionner une question secrète.'
			} else if (this.reponse === '') {
				this.$parent.$parent.message = 'Veuillez remplir le champ «&nbsp;Réponse secrète&nbsp;».'
			}
		},
		ouvrirModaleImporter () {
			this.modale = 'importer'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		afficherSelectionImporter () {
			document.querySelector('#importer').click()
		},
		importer (event) {
			const fichier = event.target.files[0]
			if (fichier === null || fichier.length === 0) {
				document.querySelector('#importer').value = ''
				return false
			} else {
				const extension = fichier.name.substring(fichier.name.lastIndexOf('.') + 1).toLowerCase()
				if (fichier !== '' && extension === 'h5p' && fichier.size < 20480000) {
					this.modale = ''
					this.$parent.$parent.chargement = true
					const formData = new FormData()
					formData.append('fichier', fichier)
					formData.append('id', this.id)
					const xhr = new XMLHttpRequest()
					xhr.onload = function () {
						if (xhr.readyState === xhr.DONE && xhr.status === 200) {
							if (xhr.responseText === 'erreur_televersement') {
								this.$parent.$parent.chargement = false
								event.target.value = ''
								this.$parent.$parent.message = 'Erreur lors du téléversement du fichier.'
							} else if (xhr.responseText === 'erreur_extraction') {
								this.$parent.$parent.chargement = false
								event.target.value = ''
								this.$parent.$parent.message = 'Erreur lors du traitement du fichier.'
							} else if (xhr.responseText === 'erreur') {
								this.$parent.$parent.chargement = false
								event.target.value = ''
								this.$parent.$parent.message = 'Erreur communication avec le serveur.'
							} else {
								window.location.reload(true)
							}
						} else {
							this.$parent.$parent.chargement = false
							event.target.value = ''
							this.$parent.$parent.message = 'Erreur communication avec le serveur.'
						}
					}.bind(this)
					xhr.upload.onprogress = function (e) {
						if (e.lengthComputable) {
							const pourcentage = (e.loaded / e.total) * 100
							this.$parent.$parent.progression = Math.round(pourcentage)
						} else {
							this.$parent.$parent.progression = 0
						}
					}.bind(this)
					xhr.open('POST', this.$parent.$parent.hote + 'inc/importer.php', true)
					xhr.send(formData)
				} else if (extension !== 'h5p') {
					event.target.value = ''
					this.$parent.$parent.message = 'Seuls les fichiers .h5p sont acceptés.'
				} else if (fichier.size > 20480000) {
					event.target.value = ''
					this.$parent.$parent.message = 'La limite de taille pour les téléversements est de 20 Mo.'
				} else if (this.reponse === '' || this.question === '') {
					event.target.value = ''
					this.$parent.$parent.message =  'Veuillez complétez les champs du formulaire.'
				}
			}
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		terminerSession () {
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					if (xhr.responseText === 'session_terminee') {
						this.fermerModaleParametres()
						this.admin = false
						this.$parent.$parent.notification = 'Session terminée.'
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleParametres()
					this.$parent.$parent.message = 'Erreur de communication avec le serveur.'
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/terminer_session.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('id=' + this.id)
		},
		afficherSupprimer () {
			this.modale = 'suppression'
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		supprimer () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					if (xhr.responseText === 'erreur') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = 'Erreur lors de la suppression du contenu.'
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = 'Vous n\'êtes pas autorisé à effectuer cette action.'
					} else {
						document.title = 'Digiquiz by La Digitale'
						this.$router.push('/')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.$parent.$parent.message = 'Erreur lors de la suppression du contenu.'
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/supprimer.php', true)
			xhr.setRequestHeader('Content-type', 'application/json')
			xhr.send(JSON.stringify({ id: this.id, question: this.question, reponse: this.reponse }))
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale === 'connexion') {
				this.fermerModaleConnexion()
			} else if (event.key === 'Escape' && this.modale === 'parametres') {
				this.fermerModaleParametres()
			} else if (event.key === 'Escape' && this.modale === 'modifier-titre') {
				this.fermerModaleTitre()
			} else if (event.key === 'Escape' && this.modale === 'modifier-acces') {
				this.fermerModaleParametres()
			} else if (event.key === 'Escape' && this.modale === 'resultats') {
				this.fermerModaleResultats()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.fermerModale()
			} else if (event.key === 'Escape' && this.menu !== '') {
				this.menu = ''
				this.gererFocus()
			}
		}
	}
}
</script>

<style scoped>
#page > header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    background: #fff;
    color: #001d1d;
	z-index: 100;
	user-select: none;
}

#page > header #conteneur-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 20px;
}

#page > header #conteneur-partage,
#page > header #conteneur-parametres,
#page > header #conteneur-logo {
    height: 40px;
    background: #fff;
}

#page > header #conteneur-logo {
	width: 32px;
	text-align: center;
}

#page > header #conteneur-partage,
#page > header #conteneur-parametres {
	line-height: 40px;
	cursor: pointer;
}

#page > header #conteneur-partage {
	width: 40px;
	padding: 0 8px;
}

#page > header #conteneur-parametres {
	width: 32px;
	padding: 0 0 0 8px;
}

#page > header #conteneur-partage i,
#page > header #conteneur-parametres i {
	font-size: 24px;
	width: 24px;
}

#page > header #logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
    margin: 8px 8px 8px 0;
}

#page > header #titre {
	display: block;
	width: calc(100% - 104px);
	font-family: 'Roboto-Slab';
	font-size: 18px;
    padding: 0 7px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
	text-transform: uppercase;
    letter-spacing: 1px;
}

#page > header #titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#menu-partager {
	position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	top: 54px;
	width: 300px;
}
	
#menu-partager:after {
	border: solid #ddd;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	border-width: 0 1px 1px 0;
	transform: translate(-7px, -8px) rotate(-135deg);
	background: #fff;
    left: 90%;
    width: 14px;
    height: 14px;
}

#menu-partager label {
	display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

#menu-partager .copier {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-partager .icone {
	cursor: pointer;
	user-select: none;
}

#menu-partager .copier input {
	display: block;
	width: calc(100% - 34px);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	text-align: left;
	margin-right: 10px;
}

#copier-lien {
	margin-bottom: 20px;
}

#copier-lien input {
	width: calc(100% - 68px);
}

#copier-lien span:last-child {
	margin-left: 10px;
}

#menu-partager .copier span i {
	font-size: 24px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#menu-partager .copier span i:active {
	opacity: 0.8;
}
</style>

<style>
#h5p {
	position: relative;
	display: block;
	max-width: 70em;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
}

#h5p .h5p-iframe-wrapper {
	background-color: #fff!important;
}

#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}
</style>
